<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- 荣耀推送权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--=================华为推送服务==================================-->
        <service
            android:name=".push.HuaweiHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--=================华为推送服务END==================================-->
        <!--************************小米push配置(AAR版本简化)***************************-->

        <receiver
            android:name=".push.XiaoMiMessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--************************小米push配置END***************************-->

        <!--oppo-->
        <service
            android:name=".push.OPPOPushMessageService"
            android:exported="true"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
    
        <service
            android:name=".push.OPPOAppPushMessageService"
            android:exported="true"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
        <!--华为-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="108677047" />

        <!--vivo-->
        <meta-data
            android:name="sdk_version_vivo"
            android:value="484" />
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="d14dac0803bc8470d9ace9e29657a160" />

        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="105660344" />

        <!--honor-->
        <meta-data
            android:name="com.hihonor.push.app_id"
            android:value="104515950" />
        <meta-data
            android:name="com.hihonor.push.app_key"
            android:value="4180701d4eaa4cfb9afbfa9e2e57cb45" />
        <meta-data
            android:name="com.hihonor.push.app_secret"
            android:value="f9fc89acb675232704f0079d7d11f2dff162ea2cc0b082890eeab9f7e93c2d71" />

        <!--push应用定义消息receiver声明-->
        <receiver
            android:name="com.chat.push.push.VivoPushMessageReceiverImpl"
            android:exported="false">
            <intent-filter>
                <!--接收push消息-->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true"
            android:permission="com.push.permission.UPSTAGESERVICE" />
        <!--honor-->
        <service
            android:name="com.chat.push.push.HonorPushMessageServiceImpl"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hihonor.push.action.RECEIVE_MESSAGE" />
            </intent-filter>
        </service>

        <!--Firebase-->
        <service
            android:name="com.chat.push.push.WKFirebaseMessagingService"
            android:exported="true"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>


</manifest>
